/* BASE PARAMETERS */
html, body {
    margin: 0;
    padding:0;
    width: 100%;
    height: 100%;
    font-family: "Verdana";
    color:white;
}

body {
    display: flex;
    background-color: #2C2C2C;
}
h1, h2, h3, h4, h5 {
    padding: 0;
    margin: 0;
}
.big-icon {
    width: 96px;
    height: 96px;
}
.small-icon {
    width: 64px;
    height: 64px;
}

/* HEADER VERTICAL BAR */
#headbar {
    background-color: #1F1F1F;
    display: flex;
    flex-direction: column;
}
.headbar-button:not(:first-child) {
    padding: 10px 10px;
    border-top: white solid 1px;
}

.headbar-button:last-child {
    border-bottom: white solid 1px;
}
.headbar-button:first-child {
    padding: 5px 10px;
    margin-bottom: 0px;
    background-color: #3C2334;
}
.headbar-button-img {
    width: 48px;
    height: 48px;
    cursor: pointer;
    -moz-user-select: none;
    user-select: none;
}
.headbar-button-img:hover {
    transition: 0.3s;
    opacity: 0.7;
}

/* MAIN CONTENT - GLOBAL*/
.main-content {
    background-color: #2C2C2C;
    display: flex;
    width: 100%;
    height: 100%;
}
.main-block {
    background-color: #424242;
    border-radius: 10px;
    margin: 10px;
}

/* MAIN CONTENT - MAIN PAGE*/
.right-content {
    height: 100%;
    display: flex;
    flex-direction: column;
}
.left-content {
    height: 100%;
    display: flex;
    flex-direction: column;
}
.left-right-main {
    width: 50%;
}

/* INTERNAL DIV CONTENT - MAIN PAGE*/
.add-car {
    height: 92%;
    padding:20px;
}
.ai-info {
    height: 20%;
    padding:20px;
    display: flex;
    flex-direction: column;
}
#video-feed-main {
    height: 69.5%;
    object-fit: cover;
}

/* INTERNAL DIV CONTENT - CROP PAGE */
#video-feed-crop {
    height: 98%;
}

/* MAIN CONTENT - CROP PAGE*/
.left-crop-page {
    width: 85%;
}
.right-crop-page {
    width: 15%;
}

/* VIDEO FEED STYLE - GENERAL */
.cam-icon {
    position: absolute;
    width: 48px;
    height: 48px;
    margin:10px;
    -moz-user-select: none;
    user-select: none;
}
.video-feed-img {
    height: 100%;
    width: 100%;
    border-radius: 10px;
    object-fit: cover;
}
.current-date {
    position: absolute;
    bottom: 0;
    right: 0;
    margin: 10px 15px;
    color:white;
}

/* AI INFO - MAIN PAGE */
.ai-info > div {
    display: flex;
    flex-direction: row;
    margin:auto;
}
.ai-info > div:last-child {
    margin-left: auto;
}
.ai-info > div > *:not(img){
    margin: auto 20px;
}
#ai-action-div {
    color:#ffca18;
}

/* CAR FORM - MAIN PAGE */
#add-car-form {
    display:flex;
    flex-direction: column;
    height: 96%;
}

.form-input {
    padding: 10px;
    display: flex;
    margin-top: 10px;
}
.form-input:first-child {
    margin-top: 30px;
}
.form-input:last-child {
    margin-bottom: 100px;
}
.form-input > * {
    flex:1;
}
.form-input > input {
    background-color: #626262;
    padding: 6px;
    border:none;
    color:white;
}
.form-input > input:focus {
    outline: none;
}
#car-image {
    display: none;
}

#custom-upload {
    background-color: #626262;
    background-size: cover;
    display: flex;
    flex-direction: column;
    padding: 60px;
    cursor: pointer;
}
#custom-upload > *{
    margin: auto;
}
#custom-upload:hover {
    transition: 0.3s;
    opacity: 0.7;
}

#submit-car {
    margin: auto auto 0 auto;
    padding: 10px 100px;
    background-color:#4C014C;
    color:white;
    border:none;
    border-radius: 10px;
    cursor: pointer;
}
#submit-car:hover {
    transition: 0.3s;
    background-color:#340134;
}